# Nuxt dev/build outputs
.output
.data
script/.nuxt
.nuxt
.nitro
.cache
dist/index.html
dist/areal_script.js.LICENSE.txt

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
